{% load static %}
<!DOCTYPE html>
<html lang="es">
<!--Este HTML presenta una tarjeta donde se ingrsa la contrasena vieja y la nueva con repeticion y chequeo de valides -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cambiar Contraseña - Milanga Wallet</title>
    
    <!-- Fuetes para la template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Estilos para la pagina-->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

   <!--LOGO-->
   <link rel = "icon" type = "image/png" href = "{% static 'milanga-logo.png' %}">
   <!-- Para dispositivos apple -->
   <link rel = "apple-touch-icon" type = "image/png" href = "{% static 'milanga-logo.png' %}"/>
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Contenedor externo -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">

                    <div class="card-body p-0">
                        <!-- Centro del cuerpo -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-Bienvenida-gif"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Cambiar Contraseña</h1>
                                    </div>
                                    <form name='changePassForm' class="user" method='post' onsubmit="return checkform()">
                                        {% csrf_token %}
                                        
                                        <div class="form-group password-container">
                                            <input required type= 'password' class="form-control form-control-user"
                                                id="id_old_password"
                                                placeholder="Contraseña vieja" name='old_password' value='{{request.POST.old_password}}'>
                                                <div id='eyeIcon' class="round-button"  onclick="togglePassword('old_password')"><i class="fas fa-eye"></i></div>   
                                        </div>
                                        <div class="form-group password-container">
                                            <input required type="password" name='new_password1' class="form-control form-control-user"
                                                id="id_new_password1" placeholder="Contraseña nueva" value='{{request.POST.new_password1}}'>
                                                <div id='eyeIcon' class="round-button"  onclick="togglePassword('new_password1')"><i class="fas fa-eye"></i></div>
                                        </div>
                                        <div class="form-group password-container">
                                            <input required type="password" name='new_password2' class="form-control form-control-user"
                                                id="id_new_password2" placeholder="Vuelva a ingresar su nueva contraseña" value='{{request.POST.new_password2}}'>
                                                <div id='eyeIcon' class="round-button"  onclick="togglePassword('new_password2')"><i class="fas fa-eye"></i></div>
                                        </div>
                                        <div id='password-change-errors' class='form-errors'>{{errors.password.0}}</div>
                                        <br>
                                        <input type="submit" value='Aceptar' class="btn btn-primary btn-user btn-block">
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/userPage/">Volver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Scripts para la pagina y template-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <script>
        //Muestra la contraseña en texto y no puntos
        function togglePassword(password) {
            var passwordInput = document.getElementsByName(password)[0];
            // Cambia el tipo de entrada entre "password" y "text"
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }

        //Revisa la valides de contraseña
        function passwCheck(passw){
            if (passw.length<8 || !/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])/.test(passw)){
                return false;
            }else{
                return true;
            }
        }

        //Revisa que ambas contraseñas sean iguales y validas 
        function checkform() {
            var password = document.changePassForm.new_password1.value;
            if(document.changePassForm.new_password1.value != document.changePassForm.new_password2.value) {
                $('#password-change-errors').text("Las contraseñas no coinciden.");
                return false;
            } else if (!passwCheck(password)){
                $('#password-change-errors').text('La contraseña ingresada no es valida. Recuerde que debe tener al menos 8 caracteres, una letra mayúscula, una minúscula, y un numero');
                return false;
            }else{
                return true;
            }
        }
    </script>
</body>

</html>